

@font-face {
    font-family: "gantari";
    src: url("/fonts/gantari-latin-400-normal.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "gantari";
    src: url("/fonts/gantari-latin-500-normal.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "gantari";
    src: url("/fonts/gantari-latin-600-normal.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "gantari";
    src: url("/fonts/gantari-latin-700-normal.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}

/* @font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: 'Montserrat';
src: url('/fonts/montserrat-regular.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

html, body {
font-family: 'Roboto', sans-serif !important;
}

html h1{
    font-family: 'Montserrat',sans-serif;
} */