---
import Layout from "../layouts/Layout.astro";
---

<Layout title="VIC Seguridad - Administrar.">

    <section class="min-h-screen flex flex-col z-10">
        <div class="mt-20">
            <h1 class="text-white text-center text-3xl z-50">
                Vista de Administrador.
            </h1>
        </div>
    </section>
</Layout>