---
import Layout from '../layouts/Layout.astro';
import '@fontsource/dela-gothic-one';
---

<Layout title="Vic Seguridad - Alarmas.">
	<main class="min-h-screen text-white bg-gradient-to-b from-[#0D1A28] to-[#0d1b2ac9] snap-y snap-mandatory">
                
		<h1 class="text-5xl 2xl:text-6xl text-center pt-48 ">
				Sistema de Alarma
		</h1>

		<section class="w-full flex flex-row items-center justify-between h-[55vh] gap-10 md:px-20 mt-16 bg-white">
				<div class="flex flex-col items-center text-[#13171C] text-left">
						<h1 class="2xl:text-4xl text-2xl text-bold py-4 w-full">
								<strong> Protección inteligente para tu hogar o negocio  </strong>
						</h1>

						<p class="m-5 mt-0 py-3 2xl:text-2xl w-full">
							Nuestros sistemas de alarma detectan cualquier intento de ingreso, movimiento no autorizado o sabotaje. Con sensores inteligentes y notificaciones en tiempo real, protegen lo que más valoras, ya sea tu hogar, oficina o negocio.
						</p>

						<a href="/contacto">
								<button class="xl:text-lg justify-center text-center border-2 border-[#13171C] shadow-lg rounded-lg mb-8 p-2 hover:bg-[#0D1A28] hover:text-white transition-all">Consulta por el servicio</button>
						</a>
				</div>
				
				<div class=" items-center overflow-clip flex aspect-video w-full">
						<img class="h-[55vh] w-full " src="/images/services/alarma/alarma.jpg" alt="">
				</div>                        
		</section>

		<span class="flex flex-col items-center text-center mt-28 mb-14 ">
				<h1 class="text-4xl/tight 2xl:text-6xl/tight">Todo lo que necesitas saber  <br>antes de instalar una alarma</h1>
		</span>

		<section class="w-full flex md:flex-row flex-xol md:px-40 px-10 pt-14 mb-28 text-pretty md:justify-between ">
				<button id="bubble1" class="relative md:w-[23vw] w-[50vw] aspect-square bg-[url(/images/services/alarma/teclado-alarma.jpeg)] bg-cover rounded-full content-center text-center 2xl:text-6xl text-3xl transition-all duration-500 hover:scale-110 hover:shadow-xl hover:shadow-slate-400">
						<span id="titulo" class="block">
								<div class="absolute inset-0 bg-black/50 transition rounded-full"></div>
								<div class="relative select-none pointer-events-none justify-center flex flex-col h-full">
										<h2>¿Qué es?</h2>
								</div>
						</span>
						<span id="info" class="hidden">
								<div class="absolute inset-0 bg-black/70 transition rounded-full"></div>
								<div class="relative select-none pointer-events-none items-center max-h-full px-10 overflow-clip">
										<p class="text-3xl text-wrap font-semibold" style="transform: rotateY(180deg);">Es un conjunto de <span class="text-blue-500 text-bold">sensores </span> conectados a una central que <span class="text-blue-500 text-bold">detectan</span> y <span class="text-blue-500 text-bold">alertan</span> ante <span class="text-blue-500 text-bold">movimientos </span>sospechosos o <span class="text-blue-500 text-bold">aperturas</span>.</p>
								</div>
						</span>
				</button>

				<button id="bubble2" class="relative w-[23vw] aspect-square bg-[url(/images/services/alarma/sirena.jpg)] bg-cover bg-center rounded-full content-center text-center 2xl:text-6xl text-3xl transition-all duration-500 hover:scale-110 hover:shadow-xl hover:shadow-slate-400">
						<span id="titulo2" class="block">
								<div class="absolute inset-0 bg-black/50  transition rounded-full"></div>
								<div class="relative select-none pointer-events-none justify-center flex flex-col h-full">
										<h2>Utilidad</h2>
								</div>
						</span>
						<span id="info2" class="hidden">
								<div class="absolute inset-0 bg-black/70 transition rounded-full"></div>
								<div class="relative select-none pointer-events-none  max-h-full px-10 overflow-clip">
										<p class="text-3xl font-semibold mx-4" style="transform: rotateY(180deg);"><span class="text-blue-500">Protege</span> tu espacio detectando <span class="text-blue-500">robos</span>, <span class="text-blue-500">intrusiones </span> o <span class="text-blue-500">emergencias </span> y alerta con <span class="text-blue-500">sirena </span> o <span class="text-blue-500">notificaciones</span>.</p>
								</div>
						</span>
				</button>

				<button id="bubble3" class="relative w-[23vw] aspect-square bg-[url(/images/services/alarma/rayo.jpg)] bg-cover bg-center rounded-full content-center text-center 2xl:text-6xl text-3xl transition-all duration-500 hover:scale-110 hover:shadow-xl hover:shadow-slate-400">
						<span id="titulo3" class="block">
								<div class="absolute inset-0 bg-black/60  transition rounded-full"></div>
								<div class="relative select-none pointer-events-none justify-center flex flex-col overflow-clip">
										<h2>beneficios</h2>
								</div>
						</span>
						<span id="info3" class="hidden">
								<div class="absolute inset-0 bg-black/80 transition rounded-full"></div>
								<div class="relative select-none pointer-events-none  max-h-full px-10 overflow-clip">
										<p class="text-3xl font-semibold mx-4" style="transform: rotateY(180deg);"><span class="text-blue-500">Disuasión</span> inmediata, <span class="text-blue-500">monitoreo </span>24/7, <span class="text-blue-500">alertas</span> móviles y <span class="text-blue-500">conexión</span> con tu telefono celular para <span class="text-blue-500">armar</span> y <span class="text-blue-500">desarmar</span> el sistema.</p>
								</div>
						</span>
				</button>
		</section>

		<section class="w-full flex flex-row text-pretty justify-center pb-20">
						
		</section>
	</main>
</Layout>

<style>
	h2{
			font-family: 'Dela Gothic One', system-ui;
	}
</style>

<script>
	// Aqui debe ir el script que agrega el efecto animate-rotate-left y animate-rotate-right a los elementos de la pagina luego de hacerles click a las cards de los servicios.
	
	function setupBubbleToggle(bubbleId, titleId, infoId) {
                const bubble = document.getElementById(bubbleId);
                const title = document.getElementById(titleId);
                const info = document.getElementById(infoId);

                bubble.addEventListener("click", () => {
                        const isActive = bubble.classList.contains("animate-flip-horizontal") &&
                                title.classList.contains("animate-fade-out");

                        if (isActive) {
                                bubble.classList.remove("animate-flip-horizontal");
                                title.classList.remove("animate-fade-out", "hidden");
                                info.classList.remove("animate-fade-in");
                                info.classList.add("hidden");
                        } else {
                                bubble.classList.add("animate-flip-horizontal");
                                title.classList.add("animate-fade-out");
                                
                                setTimeout(() => {
                                        title.classList.add("hidden");
                                }, 250);
                                setTimeout(() => {
                                        info.classList.add("animate-fade-in");
                                        info.classList.remove("hidden");
                                }, 500);
                        }

                        console.log(`click en ${bubbleId}`);
                });
        }

        // Aplica a todas las burbujas
        setupBubbleToggle("bubble1", "titulo", "info");
        setupBubbleToggle("bubble2", "titulo2", "info2");
        setupBubbleToggle("bubble3", "titulo3", "info3");
	// Fin del script que agrega el efecto animate-rotate-left y animate-rotate-right a los elementos de la pagina luego de hacerles click a las cards de los servicios.

</script>