---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vic Seguridad - CCTV.">
        <main class="min-h-screen text-white bg-gradient-to-b from-[#13171C] to-[#0d1b2ac9]">
                
                <h1 class="text-3xl md:text-5xl font-bold text-center pt-32">
                        Cámaras de seguridad CCTV
                </h1>

                <section class="w-full flex flex-row items-center justify-between h-[450px] gap-10 px-20 mt-16 bg-white">
                
                        <div class="flex flex-col items-center text-[#13171C] text-left">
                                <h1 class="text-4xl text-bold py-4 w-full">
                                        <strong> No pierdas de vista lo que mas te importa. </strong>
                                </h1>

                                <p class="m-5 mt-0 py-3 text-2xl w-full">
                                        Hacemos instalaciones de camaras de seguridad de alta resolucion para exteriores e interiores dependiendo de sus necesidades. Si usted necesita proteger su negocio o si simplemente quiere darle seguridad a su familia instalando nuestros sistemas en su hogar, no dude en contactarse con nosotros. Somos VIC Seguridad, preocupados por su tranquilidad.
                                </p>

                                <a href="/contacto">
                                        <button class="text-lg justify-center text-center border-2 border-[#13171C] shadow-lg rounded-lg mb-8 p-2 hover:bg-[#13171C] hover:text-white transition-all">Consulta por el servicio</button>
                                </a>
                        </div>
                        
                        <div class="h-[450px] items-center overflow-clip flex">
                                <img class="h-[1000px] w-[3000px]" src="/images/services/camara.jpg" alt="">
                        </div>                        
                </section>

                <section class="w-full flex flex-row gap-52 px-20 py-16 text-pretty justify-center ">

                        <!-- <div class="flex flex-col text-left max-w-[40vw] ">
                                <h1 class="w-full text-4xl text-bold py-4 text-center">
                                        <strong>¿Que es?</strong>
                                </h1>
                                <p class="mt-0 py-3 text-xl w-full">
                                        Un sistema de CCTV (circuito cerrado de televisión) es un conjunto de cámaras y monitores que permiten la vigilancia y el control de un área determinada. Estas cámaras pueden ser instaladas en diferentes lugares, como hogares, negocios, oficinas, entre otros, y su función principal es la de grabar y transmitir imágenes en tiempo real a un monitor o DVR/NVR.
                                </p>
                                <p class="mt-0 py-3 text-xl w-full">
                                        Los sistemas de CCTV son una herramienta muy útil para la seguridad, ya que permiten detectar y prevenir robos, vandalismo y otros delitos. Además, también pueden ser utilizados para monitorear el comportamiento de los empleados en un negocio o para garantizar la seguridad de los niños en un hogar.     
                                </p>
                        </div> -->
                        <div class="relative h-[550px] w-[550px] bg-[url(/images/services/camara.jpg)] bg-cover bg-center rounded-full content-center text-center md:text-6xl">
                                <div class="absolute inset-0 bg-black/50 hover:bg-black/10 transition rounded-full"></div>
                                <div class="relative select-none pointer-events-none justify-center flex flex-col h-full font-bold">
                                        ¿Qué es?
                                        <img class="h-36" src="icon/arrow-left.svg" alt="">
                                </div>
                        </div>


                        <!-- <div class="flex flex-col items-center h-full gap-8">
                                <div class="h-40 w-40 bg-[url(/images/services/camara.jpg)] bg-cover bg-center rounded-full"></div>
                                <div class="h-40 w-40 bg-[url(/images/services/camara.jpg)] bg-cover bg-center rounded-full"></div>
                                <div class="h-40 w-40 bg-[url(/images/services/camara.jpg)] bg-cover bg-center rounded-full"></div>
                        </div> -->

                        <div class="relative h-[550px] w-[550px] bg-[url(/images/services/camara.jpg)] bg-cover bg-center rounded-full">
                                <div class="absolute inset-0 bg-black/30 hover:bg-black/10 transition rounded-full"></div>
                                
                        </div>


                        <!-- <div class="flex flex-col text-left max-w-[40vw]">
                                <h1 class="w-full text-4xl text-bold py-4 text-center">
                                        <strong>¿Como funciona?</strong>
                                </h1>
                                <p class="mt-0 py-3 text-xl w-full">
                                        Un sistema de CCTV funciona mediante la instalación de cámaras en diferentes lugares estratégicos. Estas cámaras capturan imágenes y las envían a un monitor o grabador, donde pueden ser visualizadas en tiempo real o almacenadas para su posterior revisión. 
                                </p>
                                <p class="mt-0 py-3 text-xl w-full">
                                        Existen diferentes tipos de cámaras de CCTV, como las cámaras analógicas, digitales, IP y PTZ. Las cámaras analógicas son las más antiguas y utilizan cables coaxiales para transmitir la señal. Las cámaras digitales, por otro lado, utilizan tecnología de compresión de video para enviar imágenes de alta calidad a través de una red IP. Las cámaras IP son más avanzadas y permiten la transmisión de imágenes a través de Internet, lo que permite el monitoreo remoto desde cualquier lugar del mundo. Las cámaras PTZ (pan-tilt-zoom) son cámaras motorizadas que pueden ser controladas a distancia para mover la lente y hacer zoom en un área específica.
                                </p>
                        </div> -->
                </section>
        </main>
</Layout>

<script>
        // Aqui debe ir el script que agrega el efecto animate-rotate-left y animate-rotate-right a los elementos de la pagina luego de hacerles click a las cards de los servicios.
        
</script>
