---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vic Seguridad - CCTV.">
        <main class="min-h-screen text-white bg-gradient-to-b from-[#0D1B2A] to-[#0d1b2ac9]">
                
                <h1 class="text-3xl md:text-5xl font-bold text-center pt-40">
                        Cámaras de seguridad CCTV
                </h1>

                <section class="w-fit max-h-fit flex items-center justify-center content-center mx-auto mt-20">
                
                        <div class="bg-[#283f69] w-[500px] flex flex-col items-center shadow-xl rounded-lg text-white">
                                <h1 class="text-center text-2xl p-6">
                                        Instalacion de camaras de seguridad CCTV.
                                </h1>

                                <p class=" m-5 mt-0 p-4 text-lg text-center">
                                        Hacemos instalaciones de camaras de seguridad de alta resolucion para exteriores e interiores dependiendo de sus necesidades. Si usted necesita proteger su negocio o si simplemente quiere darle seguridad a su familia instalando nuestros sistemas en su hogar, no dude en contactarse con nosotros. Somos VIC Seguridad, preocupados por su tranquilidad.
                                </p>

                                <button class="border-2 border-black shadow-lg rounded-lg mb-8 p-2">Contratar servicio</button>
                        </div>
                        
                        <div class="parent">
                                <img class="h-80 rounded-lg div1" src="/images/services/camara.jpg" alt="">
                                <img class=" rounded-lg div2" src="/images/cctv-2.png" alt="">
                                <img class=" rounded-lg div3" src="/images/cctv-2.png" alt="">

                        </div>
                        
                </section>
        </main>
</Layout>

<style>

.parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 6 / 3; }
.div2 { grid-area: 1 / 3 / 4 / 5; }
.div3 { grid-area: 4 / 3 / 6 / 5; }

</style>
