---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vic Seguridad - CCTV.">
        <main class="min-h-screen text-white bg-gradient-to-b from-[#13171C] to-[#0d1b2ac9]">
                
                <h1 class="text-3xl md:text-5xl font-bold text-center pt-32">
                        Cámaras de seguridad CCTV
                </h1>

                <section class="w-full flex flex-row items-center justify-between h-[350px]  gap-10 px-20 mt-16 bg-white">
                
                        <div class=" flex flex-col items-center text-[#13171C] h-full text-left my-4">
                                <h1 class="text-3xl text-bold py-3 w-full">
                                        No pierdas de vista <br> lo que mas te importa.
                                </h1>

                                <p class="m-5 mt-0 py-3 text-xl w-full">
                                        Hacemos instalaciones de camaras de seguridad de alta resolucion para exteriores e interiores dependiendo de sus necesidades. Si usted necesita proteger su negocio o si simplemente quiere darle seguridad a su familia instalando nuestros sistemas en su hogar, no dude en contactarse con nosotros. Somos VIC Seguridad, preocupados por su tranquilidad.
                                </p>

                                <button class="justify-center  text-center border-2 border-[#13171C] shadow-lg rounded-lg mb-8 p-2 hover:bg-[#13171C] hover:text-white transition-all">Consulta por el servicio</button>
                        </div>
                        
                        <div class="h-[350px]">
                                <img class="h-[600px] w-[3000px]" src="/images/services/camara.jpg" alt="">
                        </div>

                        
                </section>
        </main>
</Layout>

<style>


</style>
