---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vic Seguridad - CCTV.">
        <main class="min-h-screen text-white bg-gradient-to-b from-[#13171C] to-[#0d1b2ac9]">
                
                <h1 class="text-3xl md:text-5xl font-bold text-center pt-32">
                        Cámaras de seguridad CCTV
                </h1>

                <section class="w-full flex flex-row items-center justify-between h-[450px] gap-10 px-20 mt-16 bg-white">
                
                        <div class="flex flex-col items-center text-[#13171C] text-left">
                                <h1 class="text-4xl text-bold py-4 w-full">
                                        <strong> No pierdas de vista lo que mas te importa. </strong>
                                </h1>

                                <p class="m-5 mt-0 py-3 text-2xl w-full">
                                        Hacemos instalaciones de camaras de seguridad de alta resolucion para exteriores e interiores dependiendo de sus necesidades. Si usted necesita proteger su negocio o si simplemente quiere darle seguridad a su familia instalando nuestros sistemas en su hogar, no dude en contactarse con nosotros. Somos VIC Seguridad, preocupados por su tranquilidad.
                                </p>

                                <a href="/contacto">
                                        <button class="text-lg justify-center text-center border-2 border-[#13171C] shadow-lg rounded-lg mb-8 p-2 hover:bg-[#13171C] hover:text-white transition-all">Consulta por el servicio</button>
                                </a>
                        </div>
                        
                        <div class="h-[450px] items-center overflow-clip flex">
                                <img class="h-[1000px] w-[3000px]" src="/images/services/camara.jpg" alt="">
                        </div>                        
                </section>

                <section class="w-full flex flex-row gap-52 px-20 pt-16 text-pretty justify-center bg-gradient-to-b from-[#2c2c2e] to-[#0d1b2ac9]">

                        <button id="bubble1" class="relative h-[400px] w-[400px] bg-[url(/images/monitoreo.jpg)] bg-cover bg-center rounded-full content-center text-center md:text-6xl transition-all duration-500">
                                <span id="titulo" class="block">
                                        <div class="absolute inset-0 bg-black/50 hover:bg-black/10 transition rounded-full"></div>
                                        <div class="relative select-none pointer-events-none justify-center flex flex-col h-full font-bold">
                                                ¿Qué es?
                                                <!-- <img class="h-36" src="icon/arrow-right.svg" alt=""> -->
                                        </div>
                                </span>
                                <span id="info" class="hidden">
                                        <div class="absolute inset-0 bg-black/70 transition rounded-full"></div>
                                        <div class="relative select-none pointer-events-none  max-h-full overflow-clip">
                                                <p class="text-3xl font-semibold mx-4" style="transform: rotateY(180deg);">CCTV (Circuito Cerrado de Televisión) es un sistema de cámaras conectadas que permite monitorear y grabar espacios en tiempo real.</p>
                                        </div>
                                </span>
                        </button>

                        <button id="bubble2" class="relative h-[400px] w-[400px] bg-[url(/images/robo.jpg)] bg-cover  rounded-full content-center text-center md:text-6xl transition-all duration-500 hover:scale-110 hover:shadow-xl hover:shadow-slate-400">
                                <span id="titulo2" class="block">
                                        <div class="absolute inset-0 bg-black/50  transition rounded-full"></div>
                                        <div class="relative select-none pointer-events-none justify-center flex flex-col h-full font-bold">
                                                Utilidad
                                                <!-- <img class="h-36" src="icon/arrow-right.svg" alt=""> -->
                                        </div>
                                </span>
                                <span id="info2" class="hidden">
                                        <div class="absolute inset-0 bg-black/70 transition rounded-full"></div>
                                        <div class="relative select-none pointer-events-none  max-h-full overflow-clip">
                                                <p class="text-3xl font-semibold mx-4" style="transform: rotateY(180deg);">Ideal para vigilar, prevenir robos y controlar accesos, mejorando la seguridad de hogares, negocios y espacios públicos.</p>
                                        </div>
                                </span>
                        </button>
                </section>

                <section class="w-full flex flex-row text-pretty justify-center pb-20 bg-[#0d1b2ac9]">
                                
                        <button id="bubble3" class="relative h-[400px] w-[400px] bg-[url(/images/monitoreo-movil.jpg)] bg-cover bg-center rounded-full content-center text-center md:text-6xl transition-all duration-500 hover:scale-110 hover:shadow-xl hover:shadow-slate-400">
                                <span id="titulo3" class="block">
                                        <div class="absolute inset-0 bg-black/60  transition rounded-full"></div>
                                        <div class="relative select-none pointer-events-none justify-center flex flex-col h-full font-bold">
                                                Beneficios
                                                <!-- <img class="h-24" src="icon/arrow-right.svg" alt=""> -->
                                        </div>
                                </span>
                                <span id="info3" class="hidden">
                                        <div class="absolute inset-0 bg-black/70 transition rounded-full"></div>
                                        <div class="relative select-none pointer-events-none  max-h-full overflow-clip">
                                                <p class="text-3xl font-semibold mx-4" style="transform: rotateY(180deg);">Disuasión del delito, evidencia en video, monitoreo remoto y mayor tranquilidad las 24 horas desde tu propio dispositivo movil.</p>
                                        </div>
                                </span>
                        </button>
                </section>
        </main>
</Layout>

<script>
        // Aqui debe ir el script que agrega el efecto animate-rotate-left y animate-rotate-right a los elementos de la pagina luego de hacerles click a las cards de los servicios.
        
        const bubble1 = document.getElementById("bubble1");
        const bubble2 = document.getElementById("bubble2");
        const bubble3 = document.getElementById("bubble3");

        const titulo = document.getElementById("titulo");
        const titulo2 = document.getElementById("titulo2");
        const titulo3 = document.getElementById("titulo3");

        const info = document.getElementById("info");
        const info2 = document.getElementById("info2");
        const info3 = document.getElementById("info3");
        
        bubble1.addEventListener("click", () => {
                if (bubble1.classList.contains("animate-flip-horizontal") && titulo.classList.contains("animate-fade-out")) {
                        bubble1.classList.remove("animate-flip-horizontal");
                        titulo.classList.remove("animate-fade-out");
                        titulo.classList.remove("hidden");

                        info.classList.remove("animate-fade-in");
                        info.classList.add("hidden");
                } else {
                        bubble1.classList.add("animate-flip-horizontal");
                        titulo.classList.add("animate-fade-out");
                        
                        setTimeout(() => {
                                titulo.classList.add("hidden");
                        }, 250);
                        setTimeout(() => {
                                info.classList.add("animate-fade-in");
                                info.classList.remove("hidden");
                        }, 500);
                }
                console.log("click en el bubble1")
        });

        bubble2.addEventListener("click", () => {
                if (bubble2.classList.contains("animate-flip-horizontal") && titulo2.classList.contains("animate-fade-out")) {
                        bubble2.classList.remove("animate-flip-horizontal");
                        titulo2.classList.remove("animate-fade-out");
                        titulo2.classList.remove("hidden");

                        info2.classList.remove("animate-fade-in");
                        info2.classList.add("hidden");
                } else {
                        bubble2.classList.add("animate-flip-horizontal");
                        titulo2.classList.add("animate-fade-out");
                        
                        setTimeout(() => {
                                titulo2.classList.add("hidden");
                        }, 250);
                        setTimeout(() => {
                                info2.classList.add("animate-fade-in");
                                info2.classList.remove("hidden");
                        }, 500);
                }
                console.log("click en el bubble2")
        });

        bubble3.addEventListener("click", () => {
                if (bubble3.classList.contains("animate-flip-horizontal") && titulo3.classList.contains("animate-fade-out")) {
                        bubble3.classList.remove("animate-flip-horizontal");
                        titulo3.classList.remove("animate-fade-out");
                        titulo3.classList.remove("hidden");

                        info3.classList.remove("animate-fade-in");
                        info3.classList.add("hidden");
                } else {
                        bubble3.classList.add("animate-flip-horizontal");
                        titulo3.classList.add("animate-fade-out");
                        
                        setTimeout(() => {
                                titulo3.classList.add("hidden");
                        }, 250);
                        setTimeout(() => {
                                info3.classList.add("animate-fade-in");
                                info3.classList.remove("hidden");
                        }, 500);
                }
                console.log("click en el bubble3")
        });
        // Fin del script que agrega el efecto animate-rotate-left y animate-rotate-right a los elementos de la pagina luego de hacerles click a las cards de los servicios.

</script>
