---
import Layout from "../layouts/Layout.astro";
---

<Layout title="VIC Ing y Seguridad. - Contáctanos">
	<main class="bg-black">
		<section
			class="relative min-h-[100vh] flex items-center justify-center bg-cover bg-center flex-col md:py-[10%] py-24 text-white"
			style="background-image: url('/images/back/sala-reuniones.jpg');"
		>
			<div class="absolute inset-0 bg-black/70"></div>

			<div
				class="z-10 flex flex-col items-center justify-center md:w-full w-[90%] text-center"
			>
				<h1 class="md:text-6xl text-4xl font-bold mb-1">Contáctanos</h1>
				<p class="md:text-lg text-md">
					Estamos aquí para ayudarte a vivir <strong>Seguro</strong> y
					<strong>Tranquílo</strong>. <br /> Contactanos y te responderemos
					lo antes posible.
				</p>
			</div>

			<section class="z-10 flex flex-col lg:flex-row lg:justify-between justify-center items-center md:gap-20 gap-10 md:w-[60%] w-[90%] mx-auto mt-10">
				<div class="division-horizontal w-full flex flex-col gap-10 ">
					<div>
						<h1 class="md:text-3xl text-2xl font-bold flex items-center md:gap-4 gap-2">
							<img
								class="md:h-8 h-6 w-auto"
								src="/icon/map-pin.svg"
								alt="map-pin icon"
							/>
							Ubicación
						</h1>

						<div class="w-full mt-2 shadow-lg">
							<iframe
								class="h-[100px] w-full rounded-lg"
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3325.69121360963!2d-70.59450428793411!3d-33.53541310175854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d0ee77ff7625%3A0x9f7eef624244390c!2sRojas%20Magallanes%2086%2C%208242055%20La%20Florida%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1743454518363!5m2!1ses!2scl"
								width=""
								height=""
								style="border:0;"
								allowfullscreen=""
								loading="lazy"
								referrerpolicy="no-referrer-when-downgrade"
							></iframe>
						</div>
						<p class="text-lg mt-2 ml-4">
							Rojas Magallanes 86, La Florida, Chile
						</p>
					</div>

					<div class="flex flex-col md:gap-10 gap-6 justify-between w-full">
						<div class="flex flex-row md:gap-10 items-center justify-between md:w-full">
							<div class="w-[50vw] md:w-fit">
								<h1
									class="md:text-3xl text-2xl font-bold flex items-center md:gap-4"
								>
									<img
										class="md:h-8 h-6 w-auto"
										src="/icon/phone.svg"
										alt="phone icon"
									/>
									Teléfono
								</h1>
								<p class="md:text-xl text-lg mt-1 md:ml-4">+56 9 6426 2330</p>
							</div>
							<button class="md:w-40 flex justify-end">
								<a
									href="tel:+56964262330"
									class="bg-blue-500 hover:bg-blue-700 transition text-lg text-white font-bold py-2 px-4 rounded hover:rounded-md"
									>Llamar ahora</a
								>
							</button>
						</div>
	
						<div
							class="flex flex-row md:gap-10 items-center justify-between md:w-full"
						>
							<div class="w-[50vw] md:w-fit">
								<h1
									class="md:text-3xl text-2xl font-bold flex items-center md:gap-4 gap-2"
								>
									<img
										class="md:h-8 h-6 w-auto"
										src="/icon/mail.svg"
										alt="mail icon"
									/>
									Correo <span class="hidden md:inline-block">Electrónico</span>
								</h1>
								<p class="md:text-xl text-lg mt-1 md:ml-4 overflow-auto">
									contacto.vicspa@gmail.com
								</p>
							</div>
							<button class="md:w-40 flex justify-end">
								<a
									href="mailto:contacto.vicspa@gmail.com"
									class="bg-blue-500 hover:bg-blue-700 transition text-lg font-bold py-2 px-4 rounded hover:rounded-md"
									>Enviar correo</a
								>
							</button>
						</div>

						<div class="md:flex md:flex-row hidden  items-center justify-between ml-1 w-full">
							<h1 class="text-2xl font-bold  items-center w-auto gap-2">
								O envianos un <span class="text-[#00E676]">WhatsApp</span>
							</h1>
							<div class="flex flex-col w-40 justify-center items-center">
								<a  href="https://wa.me/964262330" target="_blank">
									<img
									class="h-12  w-full"
									src="/icon/whatsapp.svg"
									alt="whatsapp icon"
									/>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="flex md:hidden flex-row  items-center justify-between w-full">
					<h1 class="text-xl font-bold  items-center w-full gap-2">
						O envianos un <span class="text-[#00E676]">WhatsApp</span>
					</h1>
					<div class="flex flex-col w-[30vw] justify-center items-center">
						<a  href="https://wa.me/964262330" target="_blank">
							<img
							class="h-12  w-full"
							src="/icon/whatsapp.svg"
							alt="whatsapp icon"
							/>
						</a>
					</div>
				</div>

				<div
					class="z-10 text-center items-center bg-white/10 backdrop-blur-lg rounded-xl shadow-2xl border-white/20 p-10"
				>
					<div
						class="w-full flex flex-col items-center justify-center"
					>
						<form
							id="contact-form" class="text-left md:w-96" action="https://formspree.io/f/xzzejaoq"
							method="POST">
							<label for="name"> Nombre:</label>
							<input
								type="text"
								name="nombre"
								class="text-black border border-gray-300 rounded-md p-2 mb-4 w-full"
								required
							/>

							<label for="mail"> Correo:</label>
							<input
								type="email"
								name="correo"
								class="text-black border border-gray-300 rounded-md p-2 mb-4 w-full"
								required
							/>

							<label for="mesage"> Mensaje:</label>
							<textarea
								name="mensaje"
								class="text-black border border-gray-300 rounded-md p-2 mb-4 w-full"
								required></textarea>
							<br />
							<button
								type="submit"
								class="w-full bg-blue-500 hover:bg-blue-700 transition text-lg font-bold py-2 px-4 rounded hover:rounded-md"
								>Enviar</button
							>
							<p class="text-sm mt-2 mx-2 text-justify">
								Tu información está protegida, los datos
								proporcionados serán utilizados únicamente para
								responder a tu consulta.
							</p>
						</form>
					</div>
				</div>
			</section>
		</section>

	</main>
	<dialog id="modal-success" class="backdrop:bg-black/55 bg-white z-10 rounded-xl shadow-2xl border border-white/10 animate-fade-in-down animate-duration-400">
		<div class="modal-content  flex flex-col items-center justify-center p-6 px-10 max-w-lg text-center">
			<h1 class="modal-title text-3xl">¡Gracias por contactarnos!</h1>
			<p class="modal-message text-xl mt-5">Tu mensaje ha sido enviado con éxito. Nos pondremos en contacto contigo pronto.</p>
			<form method="dialog">
				<button class="text-white text-lg bg-blue-500 hover:bg-blue-700 transition py-2 px-6 rounded hover:rounded-md mt-10">Cerrar</button>
			</form>
		</div>
	</dialog>
</Layout>

<script>

document.addEventListener("DOMContentLoaded", () => {
	const formElement = document.getElementById("contact-form") as HTMLFormElement;
	const modalElement = document.getElementById("modal-success") as HTMLDialogElement;

	// document.addEventListener("click", (event) => {
	// 	if (modalElement.open && !modalElement.contains(event.target as Node)) {
    //         modalElement.close(); // Cierra el modal
    //     }
	// });

	formElement.addEventListener("submit", async function (event) {
		event.preventDefault(); // Evita que el formulario se envíe de forma predeterminada

		const formData = new FormData(formElement);

        const response = await fetch(this.action, {
            method: this.method,
            body: formData,
            headers: { Accept: "application/json" },
        });

        if (response.ok) {
            // alert("Mensaje enviado con éxito!");
			modalElement.showModal(); // Muestra el modal de éxito
            this.reset(); // Limpia los campos del formulario
        } else {
            alert("Error al enviar el mensaje. Inténtalo de nuevo.");
        }
    });
});
</script>