---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vic - Ing y Seguridad.">
	<main class="min-h-screen bg-black">
		<section
			class="relative min-h-screen flex items-center justify-center bg-cover bg-center"
			style="background-image: url('/images/back/sala-reuniones.jpg');"
		>
		<div class="absolute inset-0 bg-black/60"></div>

		<div class="z-10 flex gap-32 items-center justify-center w-full">

			<div class="relative z-10 text-white text-center items-center flex flex-col bg-white/10 backdrop-blur-lg rounded-xl shadow-2xl border border-white/20 p-10">
				<h1 class="text-4xl md:text-6xl font-bold" style="font-family: fira-sans-condensed;">
					Contactanos
				</h1>
				<p class="text-lg md:text-2xl">
					
				</p>
				
		
				<div class="flex flex-row gap-5 content-center items-center w-full justify-center mt-20">
					<a
					href="servicios"
						class=" border hover:scale-110 transition-all text-white px-5 py-4 rounded-3xl text-xl"
						><p>Conoce Nuestros Servicios</p></a
					>
					
					<a
					href="contacto"
						class="border hover:scale-110 transition-all text-white px-5 py-4 rounded-3xl text-xl"
						>Contactanos</a
					>
				</div>
			</div>

			<div class="border-t-4 border-r-4 border-[#13171C] rounded overflow-hidden">
				<img src="/images/contacto.jpg" alt="Persona con un pc" class="h-96 p-8" />	
			</div>

		</div>

		</section>
	</main>
</Layout>
