---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vic - Ing y Seguridad.">
	<main class="min-h-screen bg-black">
		<section
			class="relative min-h-screen flex items-center justify-center bg-cover bg-center"
			style="background-image: url('/images/back/sala-reuniones.jpg');"
		>
		<div class="absolute inset-0 bg-black/60"></div>

		<div class="z-10 flex gap-32 items-center justify-center w-full">

			<div class="relative z-10 text-white text-center items-center flex flex-col bg-white/10 backdrop-blur-lg rounded-xl shadow-2xl border border-white/20 p-10">
				<div class="container mx-auto text-center text-white">
					<h2 class="text-4xl font-bold mb-8">Contáctanos</h2>
					<p class="text-lg mb-4">Estamos aquí para ayudarte con tus necesidades de seguridad.</p>
					<a href="/contacto" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Contáctanos</a>
				</div>
			</div>

			<div class="border-t-4 border-r-4 border-[#13171C] rounded overflow-hidden">
				<img src="/images/contacto.jpg" alt="Persona con un pc" class="h-96 p-8" />	
			</div>

		</div>

		</section>
	</main>
</Layout>
