---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Bienvenida from '../components/Bienvenida.astro';
import Footer from '../components/Footer.astro';
import Servicios from '../components/Servicios.astro';
---

<Layout title="Vic - Ing y Seguridad.">
	<main>
		<Bienvenida/>
		<Servicios/>
	</main>
</Layout>

