---
import Layout from '../layouts/Layout.astro';
import Bienvenida from '../components/Bienvenida.astro';
import Servicios from '../components/Servicios.astro';
import Acerca from '../components/Acerca.astro';
---

<Layout title="Vic - Ing y Seguridad.">
	<main>
		<Bienvenida/>
		<Servicios/>
		<Acerca/>
	</main>
</Layout>

