---

---

<section class="bg-gradient-to-r from-[#f9fafbb2] via-[#ffffff] to-[#f9fafbb2] text-black py-24 w-full flex flex-col">
    <h1 class="text-4xl md:text-6xl ">
        <div class="md:max-w-[500px] max-w-[250px] flex flex-col mx-auto">
            <span class="animate-fade-in-left text-left">
                <strong>Conoce</strong> más
            </span>
            <span class="text-right animate-fade-in-right">
                acerca de <strong>VIC</strong>
            </span>
        </div>
    </h1>

    <p class="text-2xl text-center pt-10">
        <strong>VIC ING Y SEGURIDAD SPA</strong>
        una empresa dedicada a brindar tranquilidad a sus clientes <img
            src="/icon/shield-lock.svg"
            alt="cerradura de seguridad"
            class="inline-block w-10 h-10"
        />
    </p>

    <div class="items-center flex flex-col">
        <section class="max-w-[70vw] mt-10 mx-40 font-medium flex flex-row gap-10 justify-center items-center text-pretty">
    
            <div class="text-left max-w-[650px]">
                <p class="text-2xl">
                    Nos especializamos en la instalación y mantenimiento de sistemas de
                    seguridad, como CCTV, alarmas, control de acceso y cercos
                    eléctricos. Nuestro equipo de expertos está comprometido en ofrecer
                    soluciones personalizadas para cada cliente, garantizando la máxima
                    protección y tranquilidad.
                </p>
                <p class="text-2xl mt-6">
                    En <strong>VIC</strong>, entendemos que la seguridad es una prioridad, por lo que
                    trabajamos con los mejores equipos y tecnología de vanguardia para
                    asegurar la protección de su hogar o negocio. Nos enorgullece
                    ofrecer un servicio al cliente excepcional y un soporte técnico
                    confiable.
                </p>
    
                <p class="text-2xl mt-6">
                Si está buscando una empresa de seguridad confiable y profesional,
                    no dude en contactarnos. Estamos aquí para ayudarlo a proteger lo
                    que más importa.
                </p>
            </div>
    
            <div class="rounded-lg overflow-hidden shadow-xl ">
                <img class="h-[500px] aspect-[9/13]" src="/images/tranquilidad.jpg" alt="">
            </div>

        </section>
        <p class="text-2xl mt-10 text-center max-w-5xl mb-5">
            <strong>VIC ING Y SEGURIDAD SPA</strong> es su mejor opción para
            soluciones de seguridad efectivas y confiables. Contáctenos hoy
            mismo para obtener más información sobre nuestros servicios y
            cómo podemos ayudarlo a proteger su hogar o negocio.
        </p>
        <a
            href="contacto"
            class="btn-contacto border-2 border-black/60 hover:bg-black/90 hover:text-white transition-all text-black text-center px-6 py-3 rounded-xl text-xl"
            ><p>Contactanos</p>
        </a>
    </div>
</section>
