---
import '@fontsource/dela-gothic-one';
---

<div class="parent max-w-5xl mx-auto h-[600px] text-6xl text-white">
    <div class="div1 relative rounded-xl content-center text-center bg-cover bg-center hover:scale-105 transition" style="background-image: url('/images/services/camara.jpg');">
        <a href="#cctv">
            <div class="absolute inset-0 bg-black/50 hover:bg-black/10 transition rounded-xl"></div>
            <div class="relative z-10 select-none pointer-events-none">CCTV</div>
        </a>
    </div>
    <div class="div2 relative rounded-xl content-center text-center bg-cover bg-center hover:scale-105 transition" style="background-image: url('/images/services/alarma.jpg');">
        <a href="#alarma">
            <div class="absolute inset-0 bg-black/50 hover:bg-black/10 transition rounded-xl"></div>
            <div class="relative z-10 select-none pointer-events-none">Alarmas</div>
        </a>
    </div>
    <div class="div3 relative rounded-xl content-center text-center bg-cover bg-center hover:scale-105 transition" style="background-image: url('/images/services/ccaa.jpg');">
        <a href="#control-acceso">
            <div class="absolute inset-0 bg-black/50 hover:bg-black/10 transition rounded-xl"></div>
            <div class="relative z-10 select-none pointer-events-none">Control de acceso</div>
        </a>
    </div>
    <div class="div4 relative rounded-xl content-center text-center bg-cover bg-center hover:scale-105 transition" style="background-image: url('/images/services/cerco.jpg');">
        <a href="#cerco-electrico">
            <div class="absolute inset-0 bg-black/50 hover:bg-black/10 transition rounded-xl"></div>
            <div class="relative z-10 select-none pointer-events-none">Cerco eléctrico</div>
        </a>
    </div>
</div>

<style>
    .parent {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 18px;
    }

    .div1 {
        grid-column: span 3 / span 3;
        grid-row: span 5 / span 5;
        font-family: 'Dela Gothic One', system-ui;
    }

    .div2 {
        grid-column: span 3 / span 3;
        grid-row: span 3 / span 3;
        grid-column-start: 1;
        grid-row-start: 6;
        font-family: 'Dela Gothic One', system-ui;
    }

    .div3 {
        grid-column: span 3 / span 3;
        grid-row: span 4 / span 4;
        grid-column-start: 4;
        grid-row-start: 1;
        font-family: 'Dela Gothic One', system-ui;
    }

    .div4 {
        grid-column: span 3 / span 3;
        grid-row: span 4 / span 4;
        grid-column-start: 4;
        grid-row-start: 5;
        font-family: 'Dela Gothic One', system-ui;
    }
</style>
