<footer class="bg-neutral-900/70 text-white p-5 text-center">
    <p>© 2025, VIC Ingeniería Y Seguridad SPA</p>
    <p>Página desarrollada por <a class="text-blue-600" href="https://www.linkedin.com/in/nicolás-castillo-cerda-3ab7a5292/">@NicolasCastillo</a> </p>
</footer>