<footer class="bg-[#13171C] text-white z-20 p-5 text-center min-h-[15vh] flex items-center justify-center flex-col gap-2 bottom-0">
    <p>© 2025, VIC Ingeniería Y Seguridad SPA</p>
    <p>Página desarrollada por <a class="text-blue-600" href="https://www.linkedin.com/in/nicolás-castillo-cerda-3ab7a5292/" target="_blank">@NicolasCastillo</a> </p>
</footer>