---
// import setupDropdownMenu from "../scripts/menu.js";
---

<header class="fixed flex w-full top-0 justify-between z-30 xl:px-20 px-2 md:text-lg text-md text-white bg-[#13171C]">
    <a class="flex items-center" href="/">
        
        <div >
            <img class="md:h-20 h-16 p-2" src="/images/logo/logo-horizontal.svg" alt="logo Vic Ingeniería y Seguridad">
        </div>
    </a>
    
    
    <nav class="flex flex-row items-center md:gap-x-5 gap-x-3">
        <a class="hover:underline underline-offset-4" href="/">Inicio</a>
    
        <!-- Menú desplegable -->
        <div class="relative z-20">
            <a id="menuToggle" class="hover:underline underline-offset-4 cursor-pointer">Servicios ▾</a>
            <ul id="dropdownMenu" class="dropdown-list absolute hidden w-28 bg-slate-300 shadow-lg mt-2 p-3 rounded-md text-semibold">
                <li><a class="p-2 " href="/cctv">CCTV</a></li>
                <li><a class="p-2 " href="/control">Control de Acceso</a></li>
                <li><a class="p-2 " href="/alarma">Alarma</a></li>
                <li><a class="p-2 " href="/cerco">Cerco Eléctrico</a></li>
                <li><a class="p-2 " href="/servicios">Ver Más</a></li>
            </ul>
        </div>
    
        <a class="hover:underline underline-offset-4" href="/contacto">Contacto</a>
    </nav>
</header>

<style>
    /* Estilo del contenedor de la lista desplegable */
    .relative {
        position: relative;
        
    }

    /* Estilo de la lista desplegable, inicialmente oculta */
    .dropdown-list {
        list-style-type: none;
        padding: 0;
    }
    
    .dropdown-list li {
        margin: 0px 0;
    }
    
    .dropdown-list a {
        text-decoration: none;
        color: black;
        display: block;
        font-weight: 500;
    }
    
    .dropdown-list a:hover {
        text-decoration: underline solid #0d112e;
        text-decoration-thickness: 2px;
    }

    header {
        animation: header-blur-scroll 0.3s ease-in-out both;
        animation-timeline: scroll();
        animation-range: 0 200px;
    }

    @keyframes header-blur-scroll {
        0% {
            /* backdrop-filter: blur(0px); */
            background:#13171C;
        }
        100% {
            /* backdrop-filter: blur(10px); */
            /* background: rgba(0, 0 , 0, 0.2); */
            background: transparent;
            /* padding-bottom: var(--spacing-2); */
            border-bottom-color:black;
        }
    }
</style>

<script >
    const menuToggle = document.getElementById("menuToggle");
    const dropdownMenu = document.getElementById("dropdownMenu");

    if (menuToggle && dropdownMenu) {
        menuToggle.addEventListener("click", function (event) {
        event.stopPropagation();
        dropdownMenu.classList.toggle("hidden");
        });

        document.addEventListener("click", function (event) {
        if (!menuToggle.contains(event.target as Node) && !dropdownMenu.contains(event.target as Node)) {
            dropdownMenu.classList.add("hidden");
        }
        });
    }
</script>
    