<header class="flex justify-between px-20 z-20  text-white  bg-slate-900/70" >
    <a class="flex items-center rounded-md" href="/">
        
        <div class="rounded-md  bg-white m-2">
            <img class="h-20 p-2 " src="images/logo-horizontal.png" alt="">
        </div>
    </a>
    
    
    <nav class=" flex flex-row items-center gap-x-5">	
        <a class="hover:underline underline-offset-4 " href="/">Inicio</a>
        <a class="hover:underline underline-offset-4" href="/servicios">Nuestros Servicios</a>	
        <!-- <a class="hover:underline underline-offset-4" href="acerca.html">Acerca de nosotros</a>	 -->
        <a class="hover:underline underline-offset-4" href="/contacto">Contacto</a>						
    </nav>
</header>