---
import Layout from "../layouts/Layout.astro";

    const {open} = Astro.props;
---

<dialog {open} class="modal absolute inset-0 bg-white z-10 backdrop-blur-md rounded-xl shadow-2xl border border-white/10 animate-fade-in animate-duration-300">
    <div class="modal-content  flex flex-col items-center justify-center p-6 px-10 max-w-lg text-center">
        <h1 class="modal-title text-3xl">¡Gracias por contactarnos!</h1>
        <p class="modal-message text-xl mt-5">Tu mensaje ha sido enviado con éxito. Nos pondremos en contacto contigo pronto.</p>
        <button class="modal-close text-white text-lg bg-blue-500 hover:bg-blue-700 transition py-2 px-6 rounded hover:rounded-md mt-10" onclick="props.display.close()">Cerrar</button>
    </div>
</dialog>
