---
import BentoServices from "./Bento-services.astro";
---

<section id="servicios" class="pb-20 bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">

    <h1 class="text-4xl md:text-6xl text-center pt-20 text-white">Nuestros Servicios</h1>

    <section class="md:max-w-[70%] max-w-[95%] mx-auto mt-20">
        <BentoServices />
        <a href="/servicios" class="text-white text-center text-2xl md:text-3xl hover:underline w-full block">
            <button class="bg-neutral-800 hover:bg-neutral-700 transition rounded-lg p-4 mt-10">
                Ver todos los servicios
            </button>
        </a>
    </section>



</section>


